mixin Cube(param)
    .cube
        .face.front=param.front
        .face.back=param.back
        .face.left=param.left
        .face.right=param.right
        .face.top=param.top
        .face.bottom=param.bottom